:root{
  --black: #000;
  --white: #fff;
  --text: #eeeded;
  --dark-gray:#313131;
  --background: #030303;
  --try: #f9f9f9;
  --zero: 0;
  --grad-dark: #323232;
  --grad-light: #9b9b9b;
}
.App {
  text-align: center;
  background-color: var(--background);
  color: var(--text);
}
.nav{
  display: flex;
  position: sticky;
  top: 0rem;
  z-index: 3;
  background-color: black;
  box-shadow: 0 1px rgba(255, 255, 255, 0.95);
}
.logo-box{
  display: flex;
}
.logo{
  height: 50px;
  margin: 1rem
}
.nav-menu{
  display: flex;
  margin: auto 1rem auto auto;
  cursor: none;
}
.nav-menu-option{
  margin: 1rem;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid black;
  color: var(--text);
  cursor: pointer;
  font-weight: bolder;
}